*{
padding:0;
margin:0;
box-sizing:border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.container{
    width: 400px;
    height: 420px;
    background-color: rgb(32, 30, 30);
    margin: auto;
    box-shadow: rgba(245, 244, 244, 0.35) 0px 5px 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.container h1{
    margin: 20px 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.container h1 i{
    margin-right: 5px;
    color: white;
}
.password-box{
    width: 90%;
    height: 10%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}
.password{
    color: white;
    padding: 10px;
    font-size: 20px;
}
.copy-btn{
    /* padding: 10px; */
    background-color: black;
    color: white;
    border: none;
    font-size: 22px;
    border-radius: 8px;
    padding-right: 10px;
    cursor: pointer;
}
.controls{
    color: white;
    margin: 20px 0px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
label{
    margin: 10px;
}
label input {
    cursor: pointer;
}
.generate-btn{
    color: white;
    background-color: rgb(57, 93, 3);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.msg{
    color: rgb(57, 93, 3);
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}